.menu{
    display: flex;
    justify-content: space-between;
    width: 60%;

}
a {
    margin: 1rem;
    padding: 0.5rem;
    display: flex;
    text-align: center;
vertical-align: middle;
    
}
.menu > li{
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.main-container-info{
    background: rgb(242, 245, 234);
}